/* 
::::::::::::::::::::::::
---> FONTS <---
::::::::::::::::::::::::
 */

/* 
::::::::::::::::::::::::
---> GLOBALS <---
::::::::::::::::::::::::
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 
::::::::::::::::::::::::
---> VARIABLES <---
::::::::::::::::::::::::
 */
:root {
  /* Colors */
  --MainBGColor: #ffffff;
  --Gray1: #2f2e2e;
  --SecBGColor: #ededed;
  --MainColor: #d4bb6c;
  /* Fonts */
  --TitleFont: #2a2a2a;
  --SubtitleFont1: #968345;
  --SubtitleFont2: #8c1212;
  --PrimaryFont: #0e0808;
  --SecondFont: #b8c8bf;
  --CTAInactive: #999999;
}

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */
