@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Raleway:wght@300;400;500;600;700&family=Roboto+Mono&display=swap");
/* Colors */
/* Font Colors */
/* Ctas */
/* Fonts */
/* Others */
#root {
  max-width: 100vw;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  max-width: 100vw;
  background-color: #fff; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: none;
  outline: none;
  background: transparent; }

/* Sections */
.section {
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 1780px; }
  @media (min-width: 768px) {
    .section {
      margin-top: 5rem; } }
  @media (min-width: 1700px) {
    .section {
      margin-top: 6.5rem; } }

.section-center {
  width: 90%;
  margin: 0 auto; }

.section-title {
  font-family: "Playfair Display", serif;
  color: #8c1212;
  letter-spacing: 0.7px;
  font-size: 1.2rem;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 2rem;
      letter-spacing: 1px; } }
  .section-title span {
    color: #828282;
    letter-spacing: 1.5px;
    font-family: "Roboto Mono", monospace;
    opacity: 0.3;
    margin-left: 1rem;
    font-size: 1rem; }
    @media (min-width: 768px) {
      .section-title span {
        font-size: 1.5rem;
        letter-spacing: 2px; } }

/* CTA */
.primary-cta {
  padding: 0.6rem 2.3rem;
  border-radius: 0.2rem;
  background: #d5b13a;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s linear all; }
  .primary-cta:hover {
    background: #fff;
    color: #d5b13a; }

.page-title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #d5b13a;
  text-align: center;
  padding-top: 0.7rem; }
  @media (min-width: 768px) {
    .page-title {
      font-size: 3rem; } }

.page-subtitle {
  text-align: center;
  color: #666666;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  text-transform: uppercase; }

.main-desc {
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
  margin: 2.5rem 0rem; }
  @media (min-width: 768px) {
    .main-desc {
      font-size: 1.6rem;
      line-height: 1.3; } }
  @media (min-width: 992px) {
    .main-desc {
      width: 80%;
      margin: 2.5rem auto; } }
  @media (min-width: 1250px) {
    .main-desc {
      width: 75%; } }

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */
/*  ::::: Welcome Page :::::  */
.intro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #d5b13a; }

.first {
  top: 0; }

.second {
  top: 33.3%; }

.third {
  top: 66.6%; }

/*  ::::: Error Page :::::  */
.errorContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0rem;
  height: 60vh; }

.errorCenter {
  text-align: center; }
  .errorCenter span {
    color: #d5b13a;
    font-size: 8rem;
    letter-spacing: 2px; }
  .errorCenter h2 {
    font-size: 1.5rem;
    letter-spacing: 1.2px;
    font-family: "Raleway", sans-serif;
    color: #3c3c3c;
    margin-bottom: 4rem; }

.errorCTA {
  padding: 0.5rem 2rem;
  background: #fff;
  border-radius: 0.2rem;
  border: 1px solid black;
  color: black;
  letter-spacing: 1.2px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s linear all; }
  .errorCTA:hover {
    background: black;
    color: #fff;
    border: 1px solid white; }

/*  ::::: Navbar Component :::::  */
.navContainer {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -1px;
  left: 0;
  background: #fafafa;
  z-index: 5;
  box-shadow: 0 2px 6px 0 #5c5c5c33; }
  @media (min-width: 768px) {
    .navContainer {
      height: 5rem; } }
  @media (min-width: 1700px) {
    .navContainer {
      height: 6.5rem; } }

.nav-center {
  width: 90%;
  margin: 0 auto; }

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-header .nav-toggle {
    background: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.3rem; }
    @media (min-width: 992px) {
      .nav-header .nav-toggle {
        display: none; } }
  .nav-header .nav-logo img {
    width: 12rem; }
    @media (min-width: 768px) {
      .nav-header .nav-logo img {
        width: 16rem; } }
    @media (min-width: 1250px) {
      .nav-header .nav-logo img {
        width: 14rem; } }

.desktop-links {
  display: none; }
  @media (min-width: 992px) {
    .desktop-links {
      display: block; } }
  .desktop-links .desktop-link {
    font-size: 1.2rem;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin-left: 1.2rem;
    cursor: pointer;
    transition: 0.25s linear all; }
    .desktop-links .desktop-link:hover {
      color: #8c1212; }
    @media (min-width: 1700px) {
      .desktop-links .desktop-link {
        font-size: 1.4rem;
        letter-spacing: 1.1px;
        margin-left: 2rem; } }

/*  ::::: Sidebar Component :::::  */
.sidebar {
  height: calc(100vh - 3.9rem);
  text-align: center;
  position: fixed;
  top: 3.9rem;
  left: 0;
  width: 100%;
  background: #fff;
  transform: scale(0.95);
  opacity: 0;
  transition: 0.15s linear all;
  z-index: -1;
  display: flex;
  flex-direction: column; }

.show-sidebar {
  transform: scale(1);
  opacity: 1;
  z-index: 999; }

.side-links {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.8rem 0rem; }
  .side-links li {
    font-family: "Roboto Mono", monospace;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #0e0808;
    font-weight: 0;
    cursor: pointer;
    transition: 0.25s linear all; }
    .side-links li:hover {
      color: #d5b13a; }

.side-help {
  flex: 1; }
  .side-help h2 {
    letter-spacing: 1px;
    color: #828282;
    margin-bottom: 0.25rem;
    font-size: 1.5rem; }

.side-help-container {
  padding: 1.5rem 0rem; }

.side-help-item {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center; }
  .side-help-item .side-help-icon {
    font-size: 1.7rem;
    margin-top: 0.5rem; }
  .side-help-item p {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    white-space: nowrap; }

.side-social {
  flex: 1;
  padding-top: 1rem; }
  .side-social h2 {
    letter-spacing: 1px;
    color: #828282;
    margin-bottom: 0.25rem;
    font-size: 1.5rem; }

.side-social-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .side-social-container * {
    margin-top: 0.75rem;
    font-size: 2.25rem;
    cursor: pointer;
    transition: 0.25s linear all;
    color: #c5c5c5; }
    .side-social-container *:hover {
      color: #d5b13a; }

/*  ::::: Homepage :::::  */
.home-sect {
  height: auto;
  margin-bottom: 4rem; }

/*  ::::: HeroNew Component :::::  */
.heroContainer {
  width: 100%;
  height: 80vh;
  position: relative;
  text-align: center;
  overflow: hidden; }
  @media (min-width: 768px) {
    .heroContainer {
      height: 80vh; } }
  .heroContainer .heroTitle {
    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.07;
    position: absolute; }
    @media (min-width: 768px) {
      .heroContainer .heroTitle {
        font-size: 10rem; } }
    @media (min-width: 1700px) {
      .heroContainer .heroTitle {
        font-size: 12rem; } }
  .heroContainer .hero-finc {
    top: 28%;
    left: -15%;
    transform: translateX(-15%); }
    @media (min-width: 1250px) {
      .heroContainer .hero-finc {
        left: 0%; } }
    @media (min-width: 1700px) {
      .heroContainer .hero-finc {
        left: 10%; } }
  .heroContainer .hero-man {
    bottom: 28%;
    right: 0%;
    transform: translateX(50%); }
    @media (min-width: 1250px) {
      .heroContainer .hero-man {
        right: 15%; } }
    @media (min-width: 1700px) {
      .heroContainer .hero-man {
        right: 30%; } }

.heroOlive {
  position: absolute;
  top: 0;
  left: 45%;
  transform: translateX(-50%);
  width: 29rem; }
  @media (min-width: 768px) {
    .heroOlive {
      width: 35rem; } }
  @media (min-width: 1250px) {
    .heroOlive {
      width: 40rem;
      left: 48%; } }
  @media (min-width: 1700px) {
    .heroOlive {
      width: 45rem; } }

.heroDesc {
  position: absolute;
  bottom: 15%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem 0rem; }
  @media (min-width: 1250px) {
    .heroDesc {
      padding: 2rem; } }
  .heroDesc h4 {
    margin-bottom: 0.25rem;
    font-size: 1.7rem;
    font-family: "Playfair Display", serif;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    white-space: nowrap;
    color: white;
    font-weight: 500; }
    @media (min-width: 768px) {
      .heroDesc h4 {
        font-size: 2.1rem;
        letter-spacing: 2px; } }
    @media (min-width: 1250px) {
      .heroDesc h4 {
        letter-spacing: 6px; } }
  .heroDesc p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: white; }
    @media (min-width: 768px) {
      .heroDesc p {
        font-size: 1.5rem;
        letter-spacing: 1.3px; } }
    @media (min-width: 1250px) {
      .heroDesc p {
        letter-spacing: 3px; } }

.heroCta {
  margin-top: 1.5rem;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
  background: #fff;
  border: 1.5px solid black;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.25s linear all;
  z-index: 2; }
  .heroCta:hover {
    border: 1.5px solid #8c1212;
    color: #8c1212; }
  @media (min-width: 768px) {
    .heroCta {
      font-size: 1.7rem;
      margin-top: 2rem; } }

/*  ::::: Services NEW :::::  */
.servicesContainer {
  padding: 1.5rem 0rem; }

.serviciosArtContainer {
  margin: 0 auto;
  width: 90%;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap; }

.singleServ-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  height: auto; }
  @media (min-width: 768px) {
    .singleServ-container {
      width: 44%;
      grid-template-columns: none;
      grid-template-rows: repeat(2, 1fr);
      place-items: center;
      text-align: center; } }
  @media (min-width: 992px) {
    .singleServ-container {
      width: 24%; } }
  .singleServ-container .serv-izq {
    width: 100%; }
    .singleServ-container .serv-izq img {
      width: 100%; }
  .singleServ-container .serv-der h4 {
    color: #d5b13a;
    letter-spacing: 1.2px;
    margin-bottom: 0.5rem;
    font-family: "Roboto Mono", monospace;
    font-weight: 500; }
    @media (min-width: 768px) {
      .singleServ-container .serv-der h4 {
        font-size: 1.8rem;
        letter-spacing: 1.5px;
        margin-bottom: 1rem; } }
  .singleServ-container .serv-der p {
    font-family: #828282;
    letter-spacing: 0.5px;
    line-height: 1.3;
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem; }
    @media (min-width: 768px) {
      .singleServ-container .serv-der p {
        font-size: 1.3rem;
        letter-spacing: 1.2px; } }

/*  ::::: Promoted Products :::::  */
.promoContainer {
  width: 97%;
  margin: 0 auto;
  padding: 1.5rem 0rem;
  padding-top: 0rem; }
  @media (min-width: 768px) {
    .promoContainer {
      width: 95%; } }
  @media (min-width: 992px) {
    .promoContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem; } }

.promo {
  width: 100%;
  height: 17rem;
  margin: 1.5rem 0rem;
  position: relative; }
  @media (min-width: 768px) {
    .promo {
      height: 20rem; } }
  @media (min-width: 992px) {
    .promo {
      height: 28rem;
      border: 3px solid lightgray;
      border-radius: 0.35rem; } }
  .promo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.25rem; }
  .promo::before {
    content: " ";
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0.25rem; }

.promo-info {
  height: 75%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  gap: none; }
  @media (min-width: 768px) {
    .promo-info {
      text-align: center; } }
  @media (min-width: 992px) {
    .promo-info {
      width: 80%;
      margin: 0 auto; } }
  .promo-info h2 {
    font-size: 1.6rem;
    letter-spacing: 1.8px;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;
    color: #fff;
    margin-bottom: 1.2rem; }
    @media (min-width: 768px) {
      .promo-info h2 {
        font-size: 1.8rem;
        letter-spacing: 2.5px; } }
  .promo-info p {
    font-size: 1.3rem;
    letter-spacing: 0.7px;
    color: #fafafa; }
    @media (min-width: 768px) {
      .promo-info p {
        font-size: 1.5rem;
        letter-spacing: 1.5px; } }
  .promo-info button {
    color: black;
    letter-spacing: 1.3px;
    background: white;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: 0.25s linear all;
    margin-top: 20%; }
    @media (min-width: 768px) {
      .promo-info button {
        font-size: 1.2rem;
        letter-spacing: 2px; } }

/*  ::::: Products Categories :::::  */
.categoriesContainer {
  height: auto;
  background: #fff;
  padding: 1.5rem 0rem;
  opacity: 1; }

.categories-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  justify-content: space-around;
  gap: 1.5rem 0.5rem;
  width: 98%;
  margin: 1.2rem auto; }
  @media (min-width: 768px) {
    .categories-icons {
      grid-template-columns: repeat(2, 18rem); } }
  @media (min-width: 992px) {
    .categories-icons {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: none; } }
  @media (min-width: 1250px) {
    .categories-icons {
      grid-template-columns: repeat(4, 15rem);
      gap: 0; } }

.singleCat-icon {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  transition: 0.25s linear all;
  cursor: pointer; }
  .singleCat-icon:hover p {
    color: #8c1212; }
  @media (min-width: 768px) {
    .singleCat-icon {
      width: 100%;
      height: 100%; } }
  .singleCat-icon img {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s linear all;
    cursor: pointer; }
  .singleCat-icon p {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 1.5rem;
    white-space: nowrap;
    letter-spacing: 0.5px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #b8c8bf;
    transition: 0.25s linear all; }
    @media (min-width: 768px) {
      .singleCat-icon p {
        font-size: 1.7rem;
        letter-spacing: 1px; } }
    @media (min-width: 1250px) {
      .singleCat-icon p {
        letter-spacing: 2px;
        font-size: 1.8rem; } }
    @media (min-width: 1700px) {
      .singleCat-icon p {
        letter-spacing: 2.2px;
        font-size: 2rem; } }

/*  ::::: Articles :::::  */
.articlesContainer {
  padding: 1.5rem 0rem;
  height: auto; }

.articlesCard-container {
  padding-top: 1.7rem;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.article-card {
  width: 100%;
  border: 1px solid lightgray;
  display: grid;
  grid-template-rows: repeat(60%, 40%);
  text-align: center;
  place-items: center;
  box-shadow: 1px 1px 6px #94949474;
  margin: 0 auto;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .article-card {
      width: 90%; } }
  @media (min-width: 992px) {
    .article-card {
      width: 45%; } }

.article-img {
  position: relative; }
  .article-img .article-img-title {
    padding: 1.2rem 0rem;
    background: #000;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    @media (min-width: 768px) {
      .article-img .article-img-title {
        padding: 1.4rem 0rem; } }
  .article-img h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 1.2px;
    font-family: "Roboto Mono", monospace;
    z-index: 2; }
    @media (min-width: 768px) {
      .article-img h2 {
        font-size: 2rem; } }
  .article-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.article-desc {
  width: 85%;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
  letter-spacing: 1px;
  padding: 1rem 0rem;
  font-size: 1rem; }
  @media (min-width: 768px) {
    .article-desc {
      font-size: 1.3rem; } }
  .article-desc p {
    margin-bottom: 1rem; }
  .article-desc a {
    letter-spacing: 2.5px;
    cursor: pointer;
    transition: 0.25s linear all;
    color: #8c1212; }
    .article-desc a:hover {
      color: #d5b13a; }

/*  ::::: Products Featured :::::  */
.featuredContainer {
  padding: 1.5rem 0rem; }

.productsCard-container {
  padding-top: 1.2rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.productCard {
  width: 45%;
  margin: 0 auto;
  height: 20rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 15px #cccccc74;
  border-radius: 0.2rem;
  display: grid;
  grid-template-rows: 60% 1fr;
  border: 1px solid lightgray; }
  .productCard:hover {
    box-shadow: 0px 0px 15px #b1b1b1af; }
    .productCard:hover .cardDesc-container .desc-cta {
      background: #d5b13a; }
  @media (min-width: 768px) {
    .productCard {
      height: 25rem; } }
  @media (min-width: 1250px) {
    .productCard {
      height: 25rem;
      width: 14%; } }
  .productCard .cardImg-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.25s linear all; }
    .productCard .cardImg-container img {
      width: 100%;
      height: 97%;
      object-fit: cover;
      border-top-left-radius: 0.2rem;
      border-top-right-radius: 0.2rem;
      transition: 0.25s linear all; }
  .productCard .cardDesc-container {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; }
    .productCard .cardDesc-container h2 {
      font-size: 1rem;
      font-family: "Raleway", sans-serif;
      color: #8c1212; }
      @media (min-width: 768px) {
        .productCard .cardDesc-container h2 {
          font-size: 1.5rem; } }
    .productCard .cardDesc-container p {
      font-family: "Raleway", sans-serif;
      letter-spacing: 1px;
      font-size: 0.9rem;
      width: 95%;
      margin: 0 auto;
      padding: 0.5rem 0rem; }
      @media (min-width: 768px) {
        .productCard .cardDesc-container p {
          font-size: 1.1rem; } }
    .productCard .cardDesc-container .desc-cta {
      width: 100%;
      padding: 0.5rem;
      background: #d8d8d856;
      cursor: pointer;
      transition: 0.25s linear all;
      letter-spacing: 1.7px;
      font-family: "Playfair Display", serif;
      font-size: 1rem; }
      @media (min-width: 768px) {
        .productCard .cardDesc-container .desc-cta {
          font-size: 1.5rem; } }

/*  ::::: Rewvies :::::  */
.reviewsContainer {
  padding: 1.5rem 0rem;
  height: 30vh; }

/*  ::::: About PAGE :::::  */
.aboutSect {
  position: relative; }

.about-data {
  margin: 2rem 0rem;
  width: 100%;
  height: 60vh;
  position: relative; }
  .about-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top: 1px solid #d5b13a;
    border-bottom: 1px solid #d5b13a;
    margin: 0 auto; }
  .about-data::before {
    content: " ";
    height: 100%;
    min-nwidth: 100%;
    background: #ffffff;
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0 auto; }
  .about-data .location {
    width: 80%;
    margin: 0 auto;
    z-index: 3;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .about-data .location .location-data {
      text-align: center;
      margin-bottom: 1.5rem; }
      .about-data .location .location-data h2 {
        color: #8c1212;
        letter-spacing: 2px;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 0.2rem 0rem; }
        @media (min-width: 768px) {
          .about-data .location .location-data h2 {
            font-size: 2rem; } }
      .about-data .location .location-data p {
        font-family: "Raleway", sans-serif;
        color: #505050;
        letter-spacing: 0.7px;
        line-height: 1.2;
        font-size: 1rem; }
        @media (min-width: 768px) {
          .about-data .location .location-data p {
            font-size: 1.4rem; } }

.cifras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 18px #b8b8b887; }
  @media (min-width: 768px) {
    .cifras {
      margin: 4rem auto; } }
  @media (min-width: 1250px) {
    .cifras {
      width: 60%; } }
  .cifras .cifras-data {
    padding: 1.2rem;
    border: 0.5px solid #dddddd74;
    width: 100%;
    height: 100%; }
    .cifras .cifras-data h2 {
      color: #d5b13a;
      letter-spacing: 1.3px;
      font-size: 2rem;
      margin-bottom: 0.2rem; }
      @media (min-width: 768px) {
        .cifras .cifras-data h2 {
          font-size: 4rem;
          letter-spacing: 2px; } }
    .cifras .cifras-data p {
      font-family: "Raleway", sans-serif;
      letter-spacing: 1px;
      width: 90%;
      margin: 0 auto; }
      @media (min-width: 768px) {
        .cifras .cifras-data p {
          font-size: 1.4rem; } }

/*  ::::: El Olivar PAGE :::::  */
.olivarSect {
  position: relative; }

.olivarPng {
  position: absolute;
  z-index: -1;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -40%);
  opacity: 0.17;
  width: 75%; }

.olivarCTAContainer {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 2rem 0rem;
  text-align: center;
  background: #fff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 6px #5252528c;
  color: #828282;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.25s linear all;
  font-size: 1.4rem; }
  @media (min-width: 768px) {
    .olivarCTAContainer {
      font-size: 2.2rem;
      letter-spacing: 2.5px; } }
  .olivarCTAContainer:hover {
    color: #8c1212; }

.oliva-second {
  width: 85%;
  margin: 3rem auto;
  text-align: center; }
  @media (min-width: 768px) {
    .oliva-second {
      width: 70%; } }
  .oliva-second img {
    border: 3px solid #d5b13a;
    border-radius: 0.5rem;
    object-fit: cover;
    width: 100%;
    height: 13rem; }
    @media (min-width: 768px) {
      .oliva-second img {
        height: 25rem;
        width: 70%; } }
  .oliva-second h2 {
    color: #8c1212;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 1.5px;
    padding: 1rem 0rem; }
    @media (min-width: 768px) {
      .oliva-second h2 {
        font-size: 1.7rem; } }
  .oliva-second p {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    width: 90%;
    margin: 0 auto;
    line-height: 1.4; }
    @media (min-width: 768px) {
      .oliva-second p {
        font-size: 1.3rem; } }

/*  ::::: Products PAGE :::::  */
.displayer {
  width: 97%;
  height: auto;
  margin: 0 auto;
  margin-top: 1rem;
  padding-bottom: 4rem; }

.displayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem; }

.displayer-left {
  width: 90%;
  height: 22rem;
  border: 3px solid lightgray;
  border-radius: 0.5rem;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .displayer-left {
      widht: 70%;
      height: 30rem; } }
  @media (min-width: 992px) {
    .displayer-left {
      width: 65%;
      height: 25rem; } }
  .displayer-left img {
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.displayer-right {
  text-align: center; }
  .displayer-right .main-title {
    width: 70%;
    margin: 0 auto;
    margin-top: 0.5rem;
    text-align: center; }
    .displayer-right .main-title h2 {
      font-family: "Playfair Display", serif;
      letter-spacing: 1.5px;
      color: #2a2a2a; }
      @media (min-width: 768px) {
        .displayer-right .main-title h2 {
          font-size: 2rem; } }
    .displayer-right .main-title p {
      margin-top: 0.2rem;
      color: #c5c5c5;
      letter-spacing: 3px;
      text-transform: uppercase; }
      @media (min-width: 768px) {
        .displayer-right .main-title p {
          font-size: 1.5rem; } }
  .displayer-right .main-desc {
    width: 87%;
    margin: 0 auto;
    padding: 1rem 0rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.1px; }
    @media (min-width: 768px) {
      .displayer-right .main-desc {
        width: 85%; } }
  .displayer-right .main-peso-price {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .displayer-right .main-peso-price p {
      font-family: "Raleway", sans-serif;
      letter-spacing: 1.3px;
      font-weight: 500; }
    .displayer-right .main-peso-price span {
      color: #8c1212;
      letter-spacing: 1px; }
      @media (min-width: 768px) {
        .displayer-right .main-peso-price span {
          font-size: 1.3rem; } }

.more-prods {
  color: #d5b13a;
  letter-spacing: 2px;
  text-align: center;
  margin: 1.2rem 0rem; }
  @media (min-width: 768px) {
    .more-prods {
      font-size: 2rem; } }

.carouselSpace {
  width: auto; }

.carouselContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem; }

.carousel-card {
  width: 45%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 12px #aaaaaa60;
  position: relative; }
  @media (min-width: 768px) {
    .carousel-card {
      width: 32%; } }
  @media (min-width: 992px) {
    .carousel-card {
      width: 22%; } }
  @media (min-width: 1250px) {
    .carousel-card {
      width: 18%; } }

.carcard-img {
  width: 100%;
  height: 100%; }
  .carcard-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.carcard-desc {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.4rem 0rem;
  color: white;
  text-align: center;
  background: #0000009e; }
  .carcard-desc h2 {
    font-size: 1rem;
    white-space: nowrap;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.2px;
    font-weight: 500; }
  .carcard-desc p {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px; }
  .carcard-desc span {
    margin-top: 0.2rem;
    font-size: 0.7rem;
    letter-spacing: 1px; }

/*  ::::: Articles PAGE :::::  */
.articleImg {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-top: 3rem;
  border-top: 1px solid #8c1212;
  border-bottom: 1px solid #8c1212; }

.articleContent {
  width: 95%;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem; }
  .articleContent p {
    font-family: "Raleway", sans-serif;
    color: #272727;
    letter-spacing: 1.2px;
    line-height: 1.2;
    font-size: 1rem;
    width: 90%;
    margin: 0 auto; }

/*  ::::: Contact PAGE :::::  */
.contactSect {
  padding-bottom: 3rem; }

.contact-banner {
  width: 100%;
  height: 35vh;
  margin-top: 2rem;
  position: relative; }
  @media (min-width: 768px) {
    .contact-banner {
      height: 40vh; } }
  @media (min-width: 1250px) {
    .contact-banner {
      height: 50vh; } }
  .contact-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .contact-banner::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.65;
    z-index: 1; }

.banner-info {
  z-index: 2;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  .banner-info p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    font-weight: 600; }
    @media (min-width: 768px) {
      .banner-info p {
        font-size: 2rem;
        letter-spacing: 2px; } }
    @media (min-width: 1250px) {
      .banner-info p {
        font-size: 2.5rem;
        letter-spacing: 3px; } }

.formContainer {
  width: 95%;
  margin: 3rem auto;
  padding: 2rem 0rem; }
  @media (min-width: 768px) {
    .formContainer {
      width: 80%; } }
  @media (min-width: 1250px) {
    .formContainer {
      width: 50%; } }

.contact-form {
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  text-align: center;
  background: #fafafa;
  box-shadow: 0px 0px 15px #7777774f; }
  .contact-form .singleInput {
    display: flex;
    flex-direction: column;
    margin: 1.7rem 0rem; }
    .contact-form .singleInput label {
      font-family: "Raleway", sans-serif;
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: #8c1212; }
      @media (min-width: 768px) {
        .contact-form .singleInput label {
          font-size: 1.5rem; } }
    .contact-form .singleInput input {
      width: 80%;
      margin: 0 auto;
      outline: none;
      border: none;
      border-bottom: 2px solid lightgray;
      margin-top: 0.5rem;
      font-size: 1.1rem;
      text-align: center;
      background: transparent;
      padding: 0.3rem 0rem; }
    .contact-form .singleInput input::placeholder {
      opacity: 0.3;
      font-weight: 300;
      letter-spacing: 2px; }
    .contact-form .singleInput textarea {
      width: 85%;
      margin: 0 auto;
      border: none;
      outline: none;
      resize: none;
      border-bottom: 2px solid lightgray;
      margin-top: 0.5rem;
      font-size: 1.1rem;
      text-align: center;
      backgorund: transparent;
      padding: 0.3rem 0rem; }
    .contact-form .singleInput textarea::placeholder {
      opacity: 0.3;
      font-weight: 500;
      letter-spacing: 1.4px;
      font-size: 1rem;
      font-family: "Raleway", sans-serif; }

.form-cta {
  width: 100%;
  padding: 1rem 0rem;
  background: #8c1212;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  transition: 0.25s linear all;
  border: 1px solid #bdbdbd;
  color: white; }
  .form-cta:hover {
    background: #d5b13a; }
  @media (min-width: 768px) {
    .form-cta {
      font-size: 1.5rem; } }

/*  ::::: Footer :::::  */
.footerContainer {
  border-top: 1px solid #d5d5d579;
  width: 100%;
  background: #ededed9f;
  padding-top: 0.5rem; }
  @media (min-width: 768px) {
    .footerContainer hr {
      width: 90%;
      margin: 0 auto; } }
  @media (min-width: 1250px) {
    .footerContainer hr {
      width: 60%; } }

.footer-center {
  width: 95%;
  margin: 0 auto; }

.footer-light {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.footer-section {
  text-align: center;
  width: 100%; }
  @media (min-width: 992px) {
    .footer-section {
      width: 45%;
      margin: 0 auto;
      margin-bottom: 2rem; } }
  .footer-section h2 {
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    color: #a3a3a3; }
    @media (min-width: 768px) {
      .footer-section h2 {
        font-size: 1.7rem; } }

.footer-links {
  margin: 1rem 0rem; }
  .footer-links li {
    margin-top: 0.5rem;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1.2px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.25s linear all; }
    .footer-links li:hover {
      color: #8c1212; }
    @media (min-width: 768px) {
      .footer-links li {
        font-size: 1.3rem; } }

.footer-contact-item p {
  margin: 1rem 0rem;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.2px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.25s linear all; }
  .footer-contact-item p:hover {
    color: #8c1212; }
  @media (min-width: 768px) {
    .footer-contact-item p {
      font-size: 1.3rem; } }

.footer-social-icons {
  margin: 1rem 0rem;
  font-size: 1.5rem;
  color: #d5b13a;
  cursor: pointer;
  transition: 0.25s linear all; }
  .footer-social-icons * {
    margin-right: 1.5rem; }
    .footer-social-icons *:hover {
      color: #8c1212; }
  @media (min-width: 768px) {
    .footer-social-icons {
      font-size: 2.5rem; } }

.footer-dark {
  padding: 1.1rem 0rem;
  margin: 0 auto;
  text-align: center;
  background: #d1d1d1;
  color: #3c3c3c;
  letter-spacing: 1px;
  font-family: "Raleway", sans-serif; }
  @media (min-width: 768px) {
    .footer-dark {
      font-size: 1.2rem; } }

/*# sourceMappingURL=index.css.map */
