// /* 
// ::::::::::::::::::::::::
// ---> FONTS <---
// ::::::::::::::::::::::::
//  */
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300;400;600&display=swap')

// /* 
// ::::::::::::::::::::::::
// ---> GLOBALS <---
// ::::::::::::::::::::::::
//  */
* 
  margin: 0
  padding: 0
  box-sizing: border-box
html
  max-width: 100vw
  
ul 
  list-style: none

a 
  text-decoration: none
  color: inherit

/* Sections */
.section 
  width: 100vw
  height: 100vh
  margin-top: 4rem

.section-center 
  width: 90%
  height: 100%
  margin: 0 auto


// /* 
// ::::::::::::::::::::::::
// ---> VARIABLES <---
// ::::::::::::::::::::::::
//  */  

 /* Colors */
$MainBGColor: #fafafa
$Gray1: #2f2e2e
$SecBGColor: #ededed
$MainColor: #d4bb6c
/* Font Colors */
$TitleColor: #2a2a2a
$SubtitleColor1: #968345
$SubtitleColor2: #8c1212
$PrimaryFontColor: #0e0808
$SecondaryFontColor: #b8c8bf
$CTAInactive: #999999
$CTAGold: #d5b13a
/* Fonts */
$MainFont: "Open Sans", sans-serif
$SecondaryFont: "Montserrat", sans-serif
$TitlesFont: ''
$SubtitlesFont: ''
/* Others */
$MainTrans: 0.25s linear all
$FastTrans: 0.15s linear all
$MaxWidth: 1200px

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */

/*  ::::: Error Page :::::  */
.err-sect
  background: $Gray1
.error-container 
  text-align: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  h1
    color: $MainBGColor
    white-space: nowrap
    font-size: 1.4rem
    letter-spacing: 1.2px
    font-weight: 300
.numbers
  color: $CTAGold
  font-size: 10rem
  font-weight: bold
.error-cta
  width: 95%
  margin: 0 auto  
  margin-top: 4rem
  padding: 0.6rem 0rem
  background-color: $CTAGold
  border-radius: 3rem
  cursor: pointer
  transition: $MainTrans
  color: white
  &:hover
    background-color: white
    color: $Gray1
  p
    z-index: 1
    letter-spacing: 1px  
    font-size: 1rem
    font-weight: 500
    text-transform: uppercase

/*  ::::: Navbar Component :::::  */
.navContainer 
  width: 100%
  height: 4rem
  display: flex  
  align-items: center
  justify-content: center 
  position: fixed
  top: 0
  left: 0
  background: white
.nav-center
  width: 90%
  margin: 0 auto
  max-width: $MaxWidth
.nav-header
  display: flex
  align-items: center
  justify-content: space-between
  img
    width: 6rem
.nav-toggle
  background: transparent
  border: none
  color: black
  cursor: pointer
  font-size: 1.6rem

/*  ::::: Sidebar Component :::::  */
.sidebar
  text-align: center
  position: fixed
  top: 4rem
  left: 0
  width: 100%
  height: 100%
  background: $MainBGColor 
  transform: scale(0.95)
  opacity: 0
  transition: $FastTrans
  z-index: -1
.show-sidebar
  transform: scale(1)
  opacity: 1
  z-index: 999
// Links
.side-links
  display: flex
  height: 52%
  flex-direction: column
  justify-content: space-around
  margin: 1rem 0rem
  li
    font-family: $MainFont
    font-size: 1.8rem   
    text-transform: uppercase
    letter-spacing: 1.4px
    color: $PrimaryFontColor
    font-weight: 00
    cursor: pointer
    transition: $MainTrans
    &:hover
      color: $CTAGold
// Help
.side-help  
  margin: 1.25rem 0rem
  h2
    letter-spacing: 1px
    color: $Gray1
    margin-bottom: 0.25rem
    font-size: 1.5rem
.side-help-container
  margin-top: 0.75rem
.side-help-item
  display: flex
  width: 75%
  margin: 0 auto
  justify-content: flex-start
  align-items: center
  .side-help-icon
    font-size: 1.7rem
    margin-top: 0.5rem
  p
    margin-left: 1.5rem    
    font-size: 1.3rem
    white-space: nowrap 
// Social 
.side-social
  margin: 1.25rem 0rem
  h2
    letter-spacing: 1px
    color: $Gray1
    margin-bottom: 0.25rem
    font-size: 1.5rem
.side-social-container
  width: 50% 
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  *
    margin-top: 0.75rem
    font-size: 2.25rem
    cursor: pointer
    transition: $MainTrans
    color: $CTAInactive
    &:hover
      color: $CTAGold


/*  ::::: Homepage :::::  */
.homepage
  background: red
  height: 150vh
  font-family: $SecondaryFont
  font-weight: 500
  text-align: center

/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
