* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  max-width: 100vw; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

/* Sections */
.section {
  width: 100vw;
  height: 100vh;
  margin-top: 4rem; }

.section-center {
  width: 90%;
  height: 100%;
  margin: 0 auto; }

/* Font Colors */
/* Fonts */
/* Others */
/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */
/*  ::::: Error Page :::::  */
.err-sect {
  background: #2f2e2e; }

.error-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .error-container h1 {
    color: #fafafa;
    white-space: nowrap;
    font-size: 1.4rem;
    letter-spacing: 1.2px;
    font-weight: 300; }

.numbers {
  color: #d5b13a;
  font-size: 10rem;
  font-weight: bold; }

.error-cta {
  width: 95%;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0.6rem 0rem;
  background-color: #d5b13a;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.25s linear all;
  color: white; }
  .error-cta:hover {
    background-color: white;
    color: #2f2e2e; }
  .error-cta p {
    z-index: 1;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase; }

/*  ::::: Navbar Component :::::  */
.navContainer {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: white; }

.nav-center {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px; }

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-header img {
    width: 6rem; }

.nav-toggle {
  background: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.6rem; }

/*  ::::: Sidebar Component :::::  */
.sidebar {
  text-align: center;
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fafafa;
  transform: scale(0.95);
  opacity: 0;
  transition: 0.15s linear all;
  z-index: -1; }

.show-sidebar {
  transform: scale(1);
  opacity: 1;
  z-index: 999; }

.side-links {
  display: flex;
  height: 52%;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem 0rem; }
  .side-links li {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #0e0808;
    font-weight: 0;
    cursor: pointer;
    transition: 0.25s linear all; }
    .side-links li:hover {
      color: #d5b13a; }

.side-help {
  margin: 1.25rem 0rem; }
  .side-help h2 {
    letter-spacing: 1px;
    color: #2f2e2e;
    margin-bottom: 0.25rem;
    font-size: 1.5rem; }

.side-help-container {
  margin-top: 0.75rem; }

.side-help-item {
  display: flex;
  width: 75%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center; }
  .side-help-item .side-help-icon {
    font-size: 1.7rem;
    margin-top: 0.5rem; }
  .side-help-item p {
    margin-left: 1.5rem;
    font-size: 1.3rem;
    white-space: nowrap; }

.side-social {
  margin: 1.25rem 0rem; }
  .side-social h2 {
    letter-spacing: 1px;
    color: #2f2e2e;
    margin-bottom: 0.25rem;
    font-size: 1.5rem; }

.side-social-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .side-social-container * {
    margin-top: 0.75rem;
    font-size: 2.25rem;
    cursor: pointer;
    transition: 0.25s linear all;
    color: #999999; }
    .side-social-container *:hover {
      color: #d5b13a; }

/*  ::::: Homepage :::::  */
.homepage {
  background: red;
  height: 150vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center; }

/*  ::::: Hero Component :::::  */
.heroContainer {
  max-width: 100%;
  height: 70%; }

.hero-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */

/*# sourceMappingURL=index.css.map */
