// /* 
// ::::::::::::::::::::::::
// ---> FONTS <---
// ::::::::::::::::::::::::
//  */  
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Raleway:wght@300;400;500;600;700&family=Roboto+Mono&display=swap')

// /* 
// ::::::::::::::::::::::::
// ---> VARIABLES <---
// ::::::::::::::::::::::::
//  */  

/* Colors */
$MainWhite: #fff
$SecondaryWhite: #fafafa
$MainColor: #d5b13a
$MainBlack: #000
$Gray1: #828282
/* Font Colors */
$TitleColor: #2a2a2a
$SubtitleColor2: #8c1212
$UnderlineColor: #968345
$FontMainColor: #0e0808
$FontSecColor: #b8c8bf
/* Ctas */
$CTAInactive: #c5c5c5
$CTAGold: #d5b13a

/* Fonts */
$FontMain: 'Roboto Mono', monospace
$FontTexts: 'Raleway', sans-serif
$FontTitles: 'Playfair Display', serif
/* Others */
$MainTrans: 0.25s linear all
$FastTrans: 0.15s linear all
$MaxWidth: 1200px

// /* 
// ::::::::::::::::::::::::
// ---> GLOBALS <---
// ::::::::::::::::::::::::
//  */
* 
  margin: 0
  padding: 0
  box-sizing: border-box
html
  max-width: 100vw
  background-color: $MainWhite
ul 
  list-style: none
a 
  text-decoration: none
  color: inherit
button 
  border: none
  outline: none
  background: transparent

/* Sections */
.section 
  width: 100vw  
  margin-top: 4rem
.section-center 
  width: 90%  
  margin: 0 auto
.section-title
  font-family: $FontTitles
  color: $SubtitleColor2
  letter-spacing: 0.7px
  font-size: 1.2rem
  span
    color: $Gray1
    letter-spacing: 1.5px
    font-family: $FontMain
    opacity: 0.3
    margin-left: 1rem
    font-size: 1rem

/* CTA */
.primary-cta    
  padding: 0.6rem 2.3rem  
  border-radius: 0.2rem
  background: $CTAGold
  font-family: $FontTitles
  color: $MainWhite
  font-size: 1.2rem
  letter-spacing: 2px
  font-weight: 600
  text-transform: uppercase
  cursor: pointer
  transition: $MainTrans
  &:hover
    background: $MainWhite
    color: $CTAGold

/* --------------------------------------------------- */
/* --------------------- MAIN APP -------------------- */
/* --------------------------------------------------- */

/*  ::::: Welcome Page :::::  */
.intro
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 10
  background: $CTAGold
.first
  top: 0
.second
  top: 33.3%
.third
  top: 66.6%


/*  ::::: Error Page :::::  */
.err-sect
  background: $Gray1
.error-container 
  text-align: center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  h1
    color: $MainWhite
    white-space: nowrap
    font-size: 1.4rem
    letter-spacing: 1.2px
    font-weight: 300
.numbers
  color: $CTAGold
  font-size: 10rem
  font-weight: bold
.error-cta
  width: 95%
  margin: 0 auto  
  margin-top: 4rem
  padding: 0.6rem 0rem
  background: $CTAGold
  border-radius: 3rem
  cursor: pointer
  transition: $MainTrans
  color: white
  &:hover
    background: white
    color: $Gray1
  p
    z-index: 1
    letter-spacing: 1px  
    font-size: 1rem
    font-weight: 500
    text-transform: uppercase

/*  ::::: Navbar Component :::::  */
.navContainer 
  width: 100%
  height: 4rem
  display: flex  
  align-items: center
  justify-content: center 
  position: fixed
  top: 0
  left: 0
  background: $SecondaryWhite
  z-index: 5
  box-shadow: 0 2px 6px 0 #5c5c5c33
.nav-center
  width: 90%
  margin: 0 auto
  max-width: $MaxWidth
.nav-header
  display: flex
  align-items: center
  justify-content: space-between
.nav-toggle
  background: transparent
  border: none
  color: black
  cursor: pointer
  font-size: 1.3rem
img
  width: 10rem    
.nav-search
  font-size: 1.5rem  
    

/*  ::::: Sidebar Component :::::  */
.sidebar
  text-align: center
  position: fixed
  top: 4rem
  left: 0
  width: 100%   
  background: $MainWhite
  transform: scale(0.95)
  opacity: 0
  transition: $FastTrans
  z-index: -1 
.show-sidebar
  transform: scale(1)
  opacity: 1
  z-index: 999

// Links
.side-links  
  height: 47%
  display: flex  
  flex-direction: column
  justify-content: space-between
  margin: 1.8rem 0rem
  li
    font-family: $FontMain
    font-size: 1.8rem   
    text-transform: uppercase
    letter-spacing: 1.4px
    color: $FontMainColor
    font-weight: 00
    cursor: pointer
    transition: $MainTrans
    
    &:hover
      color: $CTAGold

// Help
.side-help  
  margin: 1.25rem 0rem  
  h2
    letter-spacing: 1px
    color: $Gray1
    margin-bottom: 0.25rem
    font-size: 1.5rem
.side-help-container
  margin-top: 0.75rem
.side-help-item
  display: flex
  width: 75%
  margin: 0 auto
  justify-content: flex-start
  align-items: center
  .side-help-icon
    font-size: 1.7rem
    margin-top: 0.5rem
  p
    margin-left: 1.5rem    
    font-size: 1.3rem
    white-space: nowrap 

// Social 
.side-social
  margin: 1.25rem 0rem  
  h2
    letter-spacing: 1px
    color: $Gray1
    margin-bottom: 0.25rem
    font-size: 1.5rem
.side-social-container
  width: 50% 
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  *
    margin-top: 0.75rem
    font-size: 2.25rem
    cursor: pointer
    transition: $MainTrans
    color: $CTAInactive
    &:hover
      color: $CTAGold

/*  ::::: Homepage :::::  */
.home-sect 
  height: auto

/*  ::::: HeroNew Component :::::  */
.heroContainer
  max-width: 100%
  height: 70vh
  position: relative
  text-align: center
  overflow: hidden
.heroTitle  
  font-size: 7rem
  font-weight: 700
  text-transform: uppercase
  opacity: 0.07  
  position: absolute 
.hero-finc  
  top: 28%
  left: -15%
  transform: translateX(-15%)
.hero-man
  bottom: 28%
  right: -50%  
.heroOlive
  position: absolute
  top: 0
  left: 45%
  transform: translateX(-50%)
  width: 24rem
.heroDesc
  position: absolute
  bottom: 15% 
  width: 100% 
  background: rgba(0,0,0,0.45)
  padding: 1.5rem 0rem
  h4
    margin-bottom: 0.25rem
    font-size: 1.7rem
    font-family: $FontTitles
    letter-spacing: 1.2px
    text-transform: uppercase
    white-space: nowrap
    color: white
    font-weight: 500
  p
    font-size: 1.1rem
    letter-spacing: 1px
    color: white
.heroCta 
  margin-top: 1.5rem
  padding: 0.3rem 2rem
  border-radius: 0.2rem
  background: $MainWhite
  border: 1.5px solid black
  font-family: $FontTitles
  text-transform: uppercase
  font-size: 1.2rem
  color: black
  font-weight: 500
  letter-spacing: 1.5px
  cursor: pointer
  transition: $MainTrans
  z-index: 2
  &:hover
    border: 1.5px solid $SubtitleColor2
    color: $SubtitleColor2

/*  ::::: Services :::::  */
.services-title
  font-family: $FontTitles
  color: $TitleColor
  font-size: 1.8rem
  letter-spacing: 1.2px
  text-align: center
  margin-top: 1.5rem
.scrollContainer
  width: 85%
  height: 21.2rem
  margin: 0 auto
  text-align: center
  position: relative
  display: flex
  overflow: hidden
.scrollItem
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  transition: $MainTrans
  opacity: 0
.activeSlide
  opacity: 1
  transform: translateX(0)
.lastSlide
  transform: translateX(-100%)
.nextSlide  
  transform: translateX(100%)
.scroll-img-container  
  img
    margin: 2rem auto
    border-radius: 50%    
    width: 9rem
    height: 9rem
    object-fit: cover
    border: 4px solid $MainColor
.scroll-desc-container
  h4
    text-transform: uppercase
    color: $MainColor
    margin-bottom: 1rem
    font-size: 1.5rem
    letter-spacing: 1.2px
    font-weight: 500
    font-family: $FontMain
  p
    color: $TitleColor
    letter-spacing: 0.9px
    font-size: 1.1rem
    font-weight: 500   
    width: 75%
    margin: 0 auto
.scroll-prev
  position: absolute
  left: 3%
  top: 30%
  transform: translate(-3%,-30%)
  font-size: 2rem
  color: $SubtitleColor2
  cursor: pointer  
.scroll-next
  position: absolute
  right: 3%
  top: 30%
  transform: translate(3%,-30%)  
  font-size: 2rem
  color: $SubtitleColor2
  cursor: pointer  
  
/*  ::::: Promoted Products :::::  */
.promoContainer
  width: 88%
  margin: 0 auto 
.promo
  width: 100%
  height: 17rem
  margin: 1.5rem 0rem
  position: relative
  img
    width: 100%
    height: 100%
    object-fit: cover     
    border-radius: 0.25rem 
  &::before     
    content: " "
    height: 100%
    width: 100%
    background: black
    opacity: 0.35
    position: absolute
    top: 0
    left: 0  
    border-radius: 0.25rem
.promo-aceites-info
  position: absolute
  top: 20%
  left: 20%
  transform: translate(-20%,-20%)
  text-align: left  
  height: 80%
  margin-top: 2rem
  h2
    font-size: 1.6rem
    letter-spacing: 1.8px
    text-transform: capitalize
    font-family: $FontTitles    
    color: $MainWhite
    margin-bottom: 1.2rem
  p
    font-size: 1.1rem
    letter-spacing: 0.7px
    color: $SecondaryWhite    
  button    
    position: absolute
    bottom: 20%
    color: $SubtitleColor2
    letter-spacing: 1.3px
    background: white
    text-transform: uppercase
    padding: 0.5rem 1.5rem
    cursor: pointer
    transition: $MainTrans    
    font-weight: 600
.promo-vinos-info  
  position: absolute
  top: 20%
  left: 20%
  transform: translate(-20%,-20%)
  text-align: left  
  height: 80%
  margin-top: 2rem
  h2
    font-size: 1.6rem
    letter-spacing: 1.8px
    text-transform: capitalize
    font-family: $FontTitles    
    color: $MainWhite
    margin-bottom: 1.2rem
  p
    font-size: 1.1rem
    letter-spacing: 0.7px
    color: $SecondaryWhite    
  button
    position: absolute
    bottom: 12%
    color: $SubtitleColor2
    letter-spacing: 1.3px
    background: white
    text-transform: uppercase
    padding: 0.5rem 1.5rem
    cursor: pointer
    transition: $MainTrans    
    font-weight: 600

/*  ::::: Featured Products :::::  */
.featured-products 
  height: 20rem
  background: $MainWhite 
.filtros-icons  
  display: grid
  grid-template-columns: repeat(4, 1fr)
  place-items: center
  justify-content: space-around
  gap: 0.3rem
  width: 90%
  height: auto
  margin: 0 auto
.single-icon
  width: 100% 
  height: 100%
  display: flex
  flex-direction: column  
  position: relative
  img
    margin: 0 auto
    width: 100%
    height: 100%    
    object-fit: cover
    transition: $MainTrans
    cursor: pointer
  p
    text-align: center
    margin-top: 0.2rem
    font-size: 0.8rem
    white-space: nowrap
    letter-spacing: 0.7px
    font-family: $FontTexts
.inactiveCat
  img
    filter: grayscale(100%)
.activeCat
  img
    filter: grayscale(0)





/*  ::::: Articles :::::  */

/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */
/*  ::::: Homepage :::::  */

/*  ::::: Footer :::::  */
.footerContainer
  border-top: 1px solid #48484879
  width: 100%
  background: $CTAInactive
  h2
    font-family: $FontTexts
    font-size: 1.2rem
    letter-spacing: 1.3px
    text-transform: uppercase
    margin-bottom: 0.75rem
.footer-center
  width: 95%
  margin: 0 auto
.footer-light  
  padding-top: 1.5rem  
  width: 100%
.footer-dark 
  padding: 1rem 0rem
  margin: 0 auto
  text-align: center
  background: $Gray1
  color: $CTAInactive
  letter-spacing: 1px
  
// site-map
.footer-site-map
    margin-bottom: 1.25rem
.footer-links
  margin: 0.3rem 0rem
  li
    margin-top: 0.25rem
// contact
.footer-contact
  margin-bottom: 1.25rem
.footer-contact-item
  display: flex
  align-items: center
  margin: 0.5rem 0rem
  p
    margin-left: 1.5rem
// social
.footer-social
    margin-bottom: 1.25rem
    text-align: left
.footer-social-icons     
  font-size: 1.5rem
  cursor: pointer
  transition: $MainTrans
  *
    margin-right: 1.5rem
  

